.nav {
    width: 655px;

    &__menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style-type: none;

        &-item {
            font-size: 14px;
            font-weight: 400;

            a {
                color: $text_color;
                text-decoration: none;
            }
        }
    }
}