.sessions {
    &__wrapper {
        display: flex;
        height: 547px;
    }

    &__card {
        position: relative;
        border-radius: 10px;
        color: $text_color;
        background: linear-gradient(0deg, rgba(1, 138, 190, 0.5), rgba(1, 138, 190, 0.5)), url("../img/main/second_bg.png") center (center/cover) no-repeat, #8E8E8E;
        cursor: pointer;

        &:hover {
            border-width: 0 0 7px 0;
            border-style: solid;
            border-color: $accent;
        }

        &_big {
            width: 416px;
            height: 540px;

            h3 {
                position: absolute;
                left: 49px;
                bottom: 47px;
            }
        }

        &_mini {
            width: 416px;
            min-height: 258px;

            &:last-child,
            &:nth-child(3) {
                margin-top: 24px;
            }
        }

        &-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;
            width: 856px;
            height: 540px;
            margin-left: 24px;
        }

        &-header {
            position: absolute;
            left: 30px;
            bottom: 40px;
            display: block;
            font-family: 'El Messiri';
            font-weight: 700;
            font-size: 24px;
            line-height: 34px;
            width: 336px;
        }
    }
}